body{
background-color:#f5cac3;
font-family:Arial, sans-serif;
}

button {
  background-color:#81b29a;
  border: none;
  color:white;
  font-family:Arial, sans-serif;
  text-transform: uppercase;
  padding: 1em 2em 1em 2em;
}

.padding-hover:hover {
  background-color:#81b29a;
  color:white;
  text-decoration:underline;
}
