body{
background-color:#f5cac3;
font-family:Arial, sans-serif;
}

button {
  background-color:#81b29a;
  border: none;
  color:white;
  font-family:Arial, sans-serif;
  text-transform: uppercase;
  padding: 1em 2em 1em 2em;
}

.padding-hover:hover {
  background-color:#81b29a;
  color:white;
  padding:1em 2em 1em 2em;
  width:20%;
  text-align:center;
  text-transform: uppercase;
  text-decoration:underline;
}

.container {
  background-image: url(https://rtadrian.github.io/gra-321/code-exercises/images/coffee.jpg);
  background-size: cover;
  height:700px;
  margin: 0 auto;
  width:50%;

}

h2 {
  color: #ffffff;
  font-size:52px;
  position:relative;
  text-align:center;

}

/*---Media Queries---*/
@media screen and (max-width: 1000px) {
  body {
    background-color: #f5cac3;
}
}

@media screen and (max-width: 500px) {
  body {
    background-color: lightseagreen;
}
}
