a {
  background-color: white;
  color:#000;
  display:block;
  font-family:Arial, sans-serif;
  padding:2em;
  width:20%;
  text-decoration:none;
}

.padding-hover:hover {
  background-color:#f5bd60;
  color:white;
  text-decoration:underline;
}

.visited-gray:visited {
  color: LightGray;
}
