h1{
  font-family: "Avenir Next", "Avenir", sans-serif;
  font-size: 26px;
  color: black;
}

h2 {
  font-family: "Avenir Next", "Avenir", sans-serif;
  Font-size: 24px;
  Text-transform: uppercase;
  text-weight: bold;
  Color: white;
}

h3 {
  font-family: "Avenir Next", "Avenir", sans-serif;
  Font-size: 14px
  Text-transform: uppercase;
  Color: #503939
}

h4 {
  font-family: "Avenir Next", "Avenir", sans-serif;
  Font-size: 13px
  Text-transform: uppercase;
  Color: #503939
}

h5{
  font-family: "Avenir Next", "Avenir", sans-serif;
  Font-size: 16px
  Text-transform: uppercase;
  Color: white;
}

p{
  font-family: "Avenir Next", "Avenir", sans-serif;
  Font-size: 21px;
  Color: black;
}

p2 {
  font-family: "Avenir Next", "Avenir", sans-serif;
  Font-size: 16px
  Color: #503939;
  Line-height: 28px;
}

li, ul, p {
  margin: 0;
  padding: 0;
}

ul, li {
  font-color: white;
  FONT-FAMILY:"Avenir Next", "Avenir", sans-serif
  FONT-SIZE: 16PX;
}

.iced-drinks, .hot-drinks, .intro {
  width:85%;
  margin: 0 auto;
  color: white;
}

 .menu-item-row {
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 0 0 1rem 0;
}

.menu-item-row p {
  width:30%;
}

.menu-item-row ul {
  width:60%;
  list-style-type: none;
  float: right;
  text-align:right;
}

.menu-item-row ul li {
  width:30%;
  display:inline-block;
}


.menu-1{
  background-color: #503939;
  margin-top: 10px;
  padding: 20px;
  width: 400px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  position: relative;

}

.menu-2{
  background-color: #503939;
  margin-top: 10px;
  padding: 20px;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  position: relative;

}

.menu-3{
  background-color: #503939;
  margin-top: 10px;
  padding: 20px;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  position: relative;

}

.logo{
  width: 250px;
  margin-right: 100px;
  margin-left: 100px;
  align-items: center;
}

.image-1{
  width: 400px;
  padding-top: 11px;
}

.locations{
  padding: 10px;
  max-width: 400px;
}

.page-container{
  margin: 30px;
}

a {
display:block;
}

iframe {
width:50%; }
}

body
{
  margin: 10px;
  padding: 20px;

  background: white;
  color: #503939;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 0px;
  left: 0px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #503939;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #503939;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #503939;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  color: white;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

@media only screen and (min-width:400px;)
